
<p>Ruta: app/views/admin/manufacturer/edit.html.erb</p>

<%= form_tag :action => 'update', :id => @manufacturer do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Actualizar fabricante' %>
<% end %>


<%= link_to 'Mostrar', :action => 'show', :id => @manufacturer %> |
<%= link_to 'Volver atrás', :action => 'index' %>
