
<dl>
 <dt>Nombre</dt>
 <dd><%= @manufacturer.name %></dd>
 <dt>Teléfono</dt>
 <dd><%= @manufacturer.tlf %></dd>
 <dt>Teléfono móvil</dt>
 <dd><%= @manufacturer.phone %></dd>
 <dt>Dirección</dt>
 <dd><%= @manufacturer.direction %></dd>
</dl>
<p><%= link_to 'Editar', :action => 'edit', :id => @manufacturer%> |
<%= link_to 'Volver atrás', :action => 'index' %></p>
