<div style="margin-left: 50px;"><%= form_tag "/admin/item/update?id=#{@item.id}", :multipart => true do %>
  <%= render :partial => 'form' %>
  <div style="margin-left: 42%;">  <%= submit_tag 'Actualizar articulo' %> </div>
<% end %>

<div style="margin-left: 44%;"><%= link_to 'Mostrar', :action => 'show', :id => @item %> | </div> 
<div style="margin-left: 44%;"><%= link_to 'Atrás', :action => 'index' %></div></div><br><br>
