<table>
  <tr>
    <th><a href="?sort_by=manufacturer_id">Fabricante</a></th>
    <th><a href="?sort_by=name">Nombre</a></th>
    <th colspan="2"></th>
  </tr>

<% @items.each do |item| %>
  <tr>
  	<td><%= h item.manufacturer.name %></td>
    <td><%= h item.name %></td>
    <td><%= link_to 'Show', :action => 'show', :id => item %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => item  %></td>
    <td><%= button_to 'Delete', { :action => 'destroy', :id => item },
                      data: { confirm: "Are you sure you want to delete item #{item.name}?" } %></td>
  </tr>
<% end %>
</table>
<br/>
<%= will_paginate @items, :page_links => false, :link_separator => ' | ',
                          :previous_label => 'Previous page', :next_label => 'Next page' %>
<p><%= link_to 'Add a new item', :action => 'new' %></p>