<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title || 'FuriousPC' %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="menu">
    <ul>
      <li><a href="/admin/home">Inicio</a>&nbsp;|&nbsp;</li>
      <li><a href="/admin/articles">Componentes</a>&nbsp;|&nbsp;</li>
      <li><a href="/admin/manufacturers">Fabricantes</a>&nbsp;|&nbsp;</li>
      <li><a href="/admin/orders">Pedidos</a>&nbsp;|&nbsp;</li>
      <li><a href="/admin/catalog">Catálogo</a>&nbsp;|&nbsp;</li>
      <li><a href="/about">Quiénes somos</a>&nbsp;</li>
    </ul>
  </div>

  <div id="content">
    <h1><%= @page_title if @page_title %></h1>
    <% if flash[:notice] %>
      <div id="notice"><%= flash[:notice] %></div>
    <% end %>
    <%= yield %>
  </div>

  <% if @cart %>
    <div id="shopping_cart"><%= render :partial => 'cart/cart' %></div>
  <% end %>

  <div id="footer"><br>
    &copy; 2015 FuriousPC<br>
  </div>  
</body>
</html>
